{
    "*.{js,json,css,md,ts,tsx}": ["prettier --write", "git add"],
    'packages/mudita-app-function-component/src/*.ts': ['eslint --fix', 'git add'],
    'packages/mudita-eslint-config/**/*.js': ['eslint --fix', 'git add'],
}
